/* Aliens_App.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #7b70e5;
}

#root{
    height: 100%;
    width: 100%;
}

.title{
    padding-bottom: 10px;
}

.title > div{
    font-style: italic;
    font-size: 60%;
}

.Aliens_App{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.Aliens_App .box{
    border: 7px solid black;
    position: relative;
    background: wheat
}





.GridCell {
    position: absolute;
    transition: top 0.1s, left 0.1s;
    filter: hue-rotate(-2deg);
}

textarea{
      width: 275px;
    height: 250px;
}

canvas{
    transform: scale(1);
}





/* to be ported.... */
/* ScoresStrip.css */
div.ScoresStrip{
    display: flex;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

div.ScoresStrip > div{
    flex: 1 auto;
    align-items:flex-end;
    display: flex;
    border: 2px solid black;
    background: wheat;
    margin: 0 0.2em;
    padding: 0 1em;
}


div.ScoresStrip > div > div:last-child{
    font-weight: bold;
    padding-left: 0.5em;
    font-size: 110%;
    color: #850;
}





/* to be ported.... */
/* ScoresStrip.css */
.Modal{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
}

.Modal.PLAY{
    display: none;
}

.Modal > div{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 42em;
    min-height: 14em;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 8px black;
    padding: 1em;
    color: rgba(255,255,255,0.82);
    border: 7px double rgba(255,0,0,0.7);
}

.Modal > div > div{
    margin: 1em 0;
    font-size: 120%;
}

.Modal h1, .Modal .action{
    text-align: center;
}

.Modal .action{
    text-decoration: underline;
    font-size: 180%;
    font-weight: bold;
    color: lightskyblue;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0 0 9px black;
}

.Modal .action:hover{
    color: yellow;
    text-shadow: 0 0 9px red;
}
