/* Aliens_App.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #7b70e5;
}

#root{
    height: 100%;
    width: 100%;
}

.title{
    padding-bottom: 10px;
}

.title > div{
    font-style: italic;
    font-size: 60%;
}

.Aliens_App{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.Aliens_App .box{
    border: 7px solid black;
    position: relative;
    background: wheat
}





.GridCell {
    position: absolute;
    transition: top 0.1s, left 0.1s;
}

textarea{
      width: 275px;
    height: 250px;
}

canvas{
    transform: scale(1);
}





/* to be ported.... */
/* ScoresStrip.css */
div.ScoresStrip{
    display: flex;
    width: 50em;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

div.ScoresStrip > div{
    flex: 1 auto;
    align-items:flex-end;
    display: flex;
    border: 2px solid black;
    background: wheat;
    margin: 0 0.2em;
    padding: 0 1em;
}


div.ScoresStrip > div > div:last-child{
    font-weight: bold;
    padding-left: 0.5em;
    font-size: 110%;
    color: #850;
}