/* Aliens_App.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root{
    height: 100%;
    width: 100%;
}

.title{
    padding-bottom: 10px;
}

.title > div{
    font-style: italic;
    font-size: 60%;
}

.Aliens_App{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.Aliens_App .box{
    border: 7px solid grey;
    width: 720px;
    height: 480px;
    position: relative;
}





.GridCell {
    position: absolute;
}
